DB_ROOT_USER=admin
DB_ROOT_PASSWORD=your_root_db_password
DB_EXPRESS_USER=admin
DB_EXPRESS_PASSWORD=your_express_db_password
PGADMIN_DEFAULT_EMAIL=admin@example.com

# Base URL for accessing images
APP_DOMAIN=http://127.0.0.1:8080

# Monitor images folder path
IMAGE_WATCH_DIR=C:/Users/OMNI-3125HTT-ADN/Desktop/ntust_aoi/watch_dir
IMAGE_WATCH_DIR_CONTAINER=/images

# Security
DB_APP_USER=pcb_app
DB_APP_PASSWORD=your_app_db_password
UPLOAD_API_KEY=your_upload_api_key
DB_HOST=127.0.0.1
DB_PORT=5433

# Cloud Storage (MinIO)
MINIO_ENDPOINT=192.168.1.100:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=aoi-images
MINIO_SECURE=False

IMAGE_WATCH_DIR=C:/Users/OMNI-3125HTT-ADN/Desktop/ntust_aoi/watch_dir
