# Database Superuser Credentials
# Used for:
# 1. MongoDB Root Login (Connection String)
# 2. PostgreSQL Superuser Login
DB_ROOT_USER=username
DB_ROOT_PASSWORD=password

# Web Interface Credentials
# Used for:
# 1. Mongo Express Login (HTTP Basic Auth)
# 2. Preventing unauthorized web access to the DB GUI
DB_EXPRESS_USER=username
DB_EXPRESS_PASSWORD=password
PGADMIN_DEFAULT_EMAIL=email

# Monitor images folder path
IMAGE_WATCH_DIR=/path/to/your/image/folder
IMAGE_WATCH_DIR_CONTAINER=/path/to/your/image/folder
